@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .first-logo {
    @apply tracking-in-contract-bck-top;
  }

  .navbar_item {
    @apply text-white min-w-[6vw] flex justify-center hover:text-black cursor-pointer h-full py-5 px-2 hover:bg-slate-100 duration-700;
  }
}

@layer utilities {
  @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
      transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
      transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  .tracking-in-contract-bck-top {
    -webkit-animation: tracking-in-contract-bck-top 1.5s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-top 1.5s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}
